# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.cache

# Logs
*.log

# Secret keys
*.secret_key

# Configuration files
*.config

# Environment variables file
.env

# IDE files
.idea/
.vscode/

# Ignore any virtual environments
venv/
env/